
.header {

 	font-family:"cursive", "fantasy";
 	font-size: 130px;
 	background-image: url("../images/fade.jpg");
 	text-align:center;
 	background-size:150px;
 }
 .header:hover{
 	background-image: url("../images/views.jpg");
 }

 h2{
	text-align:center; 
	border-style:solid; 
	display:inline;
 	background-color: find color;
 }
 body{
 	background-color:CB9CF2;
 }
 img{
 	float: right;
 }